<nav class="navbar navbar-expand bg-body-secondary shadow-sm rounded p-3 mb-3 navbar-toolbar navbar-light">
	<div class="flex-grow-1">
		{control $control:pages}
	</div>
	<div class="flex-nowrap form-inline">
		{control $control:perPage}
	</div>
</nav>