<form n:name="perPage" class="form-inline">
	<div class="input-group input-group-sm">
		<span class="input-group-text text-secondary">
			{_datatable.limit.rows, [from: $pages->getFirstItemOnPage(), to: $pages->getLastItemOnPage(), count: $pages->getItemCount()]}
		</span>
		<select n:name="perPage" class="form-select" data-no-search></select>
		<button n:name="submit" type="submit" n:class="btn, btn-outline-secondary, $isAjax ? ajax">{_datatable.limit.label}</button>
	</div>
</form>